body {
  background-color: #c86b85;
  color: #fff;
}

.App {
  text-align: center;
}

.lembreteBg {
  background-color: #e6a4b4;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.lembreteBg div {
 display: flex;
  align-items: center;
}

.lembreteNumero {
  color: #f3d7ca;
  border: 1px solid #f3d7ca;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.lembreteBg .lembreteTexto {
  flex: 1;
}

.lembreteBg .done .lembreteTexto {
  text-decoration: line-through;
  opacity: 0.3;;
}

.lembreteBg .organizacaoIcones {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.lembreteBg .organizacaoIcones span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #fff8b6;
}
